@model string  /// bu sayfanın stringe bağlı olarak çalışacağı anlamına gelir   
@* sayfada string kullanılacak demek başka bireşy de olabilirdi sınıf liste dizi  vs gibi  *@


<div class="display-6">
Index 1 

</div>

<div class="lead">
@Model          @*Model (büyük harfle başlayan Model )sayfaya taşıdığımız model demek *@
@* controllers içine verdiğimiz mesaj yani @Model *@
</div>