

<div class="text-center">
    <h1 class="display-4">BTK Akademi</h1>

@*<p><a class ="btn btn-primary"href="/course/apply">Apply</a></p> @*mormalde manuel olarak adres vermeyiz *@

@*daha geişmiş hali *@
<p><a class ="btn btn-primary" asp-controller ="Course" asp-action ="Apply">Apply</a></p> @*mormalde manuel olarak adres vermeyiz *@


</div>
